/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black:  #000000;
$dark:   #3D3D3F;
$light:  #DDDDDD;
$white:  #ffffff;
$silver: #F4F6F8;

$pink: #AA8491;
$greenish-blue: #2B455E;



/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .2rem;
